prefetch
src/*.o
bin/*
obj/*
.vscode/settings.json
.vscode/c_cpp_properties.json
test/output/*
test/data/filelist*.txt
test/data/archived_index_100.tar.gz
test/data/index_100.tar.gz
test/data/*index*/*